body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
}
header {
  margin-bottom: 1rem;
}
.theme-picker {
  border: 2px solid #c6904a;
  border-radius: 6px;
  padding: 1rem;
  background: #f8f2d3;
}
.container {
  border: 2px solid #c6904a;
  border-radius: 6px;
  padding: 1rem;
  background: #f8f2d3;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.item {
  display: flex;
  padding: 1rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  color: white;
  background: blue;
}
/* Niebieski */
input[value='blue']:checked {
  @media (min-width: 1024px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
    .item {
      width: 30%;
    }
  }
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .item {
      width: 50%;
    }
  }
}
