/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}
h1 {
  text-align: center;
}

#board {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  width: 30%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.column h2 {
  margin-top: 0;
}

button {
  margin: 5px 0;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #777;
  background: #eee;
}

.cards {
  margin-top: 10px;
}

.card {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fff7d1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons {
  display: flex;
  gap: 4px;
}

.card button {
  padding: 2px 6px;
  border-radius: 4px;
}

.card .delete {
  color: white;
  background: red;
}

.card .color {
  background: #ddd;
}
